# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL = 
REMOVEBG_KEY = ''
PREFIX = '.'
MODE = 'private'
statusview = 'true'
autoRead= 'false'
BOTNAME = 'MEGA-AI'
antidelete = 'true'
BOT_NUMBER= '2348067725987'
OWNERS = 
SESSION_ID = 'DZoUjbIK#FI3PwByH9wlPqBBeyPku7btHZeu1RPmT4ZBckCBFH_Q'
